<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, distinctio laudantium unde nemo magnam quisquam neque quaerat illum reprehenderit debitis assumenda dolore delectus commodi. Placeat et illum exercitationem omnis animi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, distinctio laudantium unde nemo magnam quisquam neque quaerat illum reprehenderit debitis assumenda dolore delectus commodi. Placeat et illum exercitationem omnis animi!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, distinctio laudantium unde nemo magnam quisquam neque quaerat illum reprehenderit debitis assumenda dolore delectus commodi. Placeat et illum exercitationem omnis animi!</p>

    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>